{% extends 'news/base.html' %}

{% block title %} {{ title }} | {{ block.super }} {% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    <p>{{ created }}</p>
    <p>{{ text }}</p>
    <a target="_blank" target="_blank" href="/news/">Main page</a>
{% endblock %}