{% extends 'news/base.html' %}

{% block content %}
<form action="/news/create/" method="post">
    {% csrf_token %}
    Title<input name="title">
    Text<input name="text">
    <button type="submit">Add news</button>
</form>
<p><a href="/news/">News page</a></p>
{% endblock %}