{% extends 'news/base.html' %}

{% block content %}
    <h2>Hyper news</h2>
    <form action="/news/" method="get">
        News header
        <input name="q">
        <button type="submit">Find</button>
    </form>
    {% for item in news_by_dates %}
        <h4>{{item.date}}</h4>

        <ul>
            {% for news in item.news %}
                <li><a target="_blank" href="/news/{{news.link}}/">{{ news.title }}</a></li>
            {% endfor %}
        </ul>

    {% endfor %}
    <p><a href="/news/create/">Create your own news</a></p>
{% endblock %}